<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @email %></h1>

    <p>
      Someone has requested a link to change your password, but we
      do not have account associated with this email.
    </p>

    <p>To create a new account, please click the link below.</p>

    <p><a href="<%= "#{@root_url}#{@signup_path}" %>">Create new account.</a></p>

    <p>If you didn't request this password reset, please ignore this email.</p>
  </body>
</html>
