Hi <%= @email %>
=================================

<p>
Someone has requested a link to change your password, but we
do not have account associated with this email.
</p>

To create a new account, please go to the url below to create a new account.

<%= "#{@root_url}#{@signup_path}" %>

If you didn't request this password reset, please ignore this email.
