<!DOCTYPE html>
<html>
<head>
  <title>TokenAuthenticateMe</title>
  <%= stylesheet_link_tag    "token_authenticate_me/application", media: "all" %>
  <%= javascript_include_tag "token_authenticate_me/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
